body{
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.heading{
  font-family: "Arial",sans-serif;
  font-weight: bold;
  letter-spacing: 2.5px;
  color: white;
}
.food_image{
  position: relative;
  left: 700px;
}
img{
  max-width: 50%;
  height: auto;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  top: 100px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Arial",sans-serif;
  font-size: 23px;
  letter-spacing: 2.5px;
  color: white;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left:0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.spag {
  transform: translateX(700px) translateY(-180px);
  width: 300px;
  height: 300px;
}
